@media screen and (min-width: 1080px) and (min-height: 715px){
  .body{
    background-color: #ECEFF1;
  }
  .grid{
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    font-weight: 300;

    background-color: #ECEFF1;

    display: grid;

    grid-gap: 40px;

    border-width: 0;

    height: auto;

    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 0.3fr 1fr 1fr ;
    grid-template-areas:
    "menu menu menu"
    ". content . "
    ". content . ";

  }
.menu{

    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    grid-area: menu;
    display: grid;
    height: 16vh;

    background-color: #455A64;
    color: white;
    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;



  }
  .content {

    grid-area: content;
    display: grid;

    height: 100vh;

    color: black;
    background-color: #90A4AE;

    text-align: center;
    font-size: 1vw;
    font-weight: 100;
    text-decoration: none;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
